@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply text-xs tracking-wide;
  }
}

body {
  @apply uppercase;
}

hr {
  @apply mt-2 border-black;
}

#menu div {
  @apply p-2
}

.banner {
  @apply absolute bottom-0 left-0 right-0 p-4 text-xs text-zinc-300 bg-zinc-600 opacity-0 cursor-pointer duration-500 group-hover:opacity-100 bg-opacity-60
}


/*LAYOUT*/

/*Header*/
.header-items{
  @apply flex flex-1 space-x-4 text-xs text-zinc-500;
}

/*Hamburger Menu*/

.hamburger {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: '';
  position: absolute;
  width: 20px;
  height: 1px;
  top: 0;
  left: 0;
  transform: rotate(0);
  transition: all 0.4s;
  @apply bg-zinc-500 mt-1;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);

  @apply bg-zinc-500
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  @apply bg-zinc-500
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  @apply bg-zinc-500
}

/*Footer*/
.footer-container{
  @apply flex flex-col space-y-2 text-[11px];
}

footer h5 {
  @apply text-base mb-2 text-sm
}